
/*---------------------------------------*/
/* Register Form */
/*---------------------------------------*/
body {
    padding: 0;
    margin: 0;
    height: 100%;
    background-image: linear-gradient(180deg,#a29e87, #f8e3d0);
    background-attachment: fixed;
}

.signup-form {
  font-family: "Roboto", sans-serif;
  /* width:50%; */
  /* margin:5% auto; */
  width: 100vh;
  margin: 2vh auto;
  background:linear-gradient(to right, #ffffff 0%, #fafafa 50%, #ffffff 99%);
  border-radius: 10px;
}

/*---------------------------------------*/
/* Form Header */
/*---------------------------------------*/
.form-header  {
  background-color: #EFF0F1;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.form-header h1 {
  font-size: 30px;
  text-align:center;
  color:#666;
  padding:20px 0;
  border-bottom:1px solid #cccccc;
}

/*---------------------------------------*/
/* Form Body */
/*---------------------------------------*/
.form-body {
  padding:10px 40px;
  color:#666;
}

.form-group{
  margin-bottom:20px;
}

.form-body .label-title {
  color:#2b9098;
  font-size: 17px;
  font-weight: bold;
}

.form-body .form-input {
    font-size: 17px;
    box-sizing: border-box;
    width: 100%;
    height: 34px;
    padding-left: 10px;
    padding-right: 10px;
    color: #333333;
    text-align: left;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    background: white;
    outline: none;
    caret-color: red;
}



.horizontal-group .left{
  float:left;
  width:49%;
}

.horizontal-group .right{
  float:right;
  width:49%;
}


::-webkit-input-placeholder  {
  color:#74dee6;
}

/*---------------------------------------*/
/* Form Footer */
/*---------------------------------------*/
.signup-form .form-footer  {
  background-color: #EFF0F1;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding:10px 40px;
  text-align: right;
  border-top: 1px solid #cccccc;
  clear:both;
}

.form-footer span {
  float:left;
  margin-top: 10px;
  color:#999;  
  font-style: italic;
  font-weight: thin;
}

.btn {
   margin-right: 0;
    margin-bottom: 0;
    margin-left: 50%;
    height: 40px;
    position: relative;
    margin-left: 2rem;
    width: 30% !important;
    border: none;
    outline: none;
    font-size: 1.0625rem;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 16px;
    background: linear-gradient(45deg, #38c4c4, #42e9e9) !important;
    box-shadow: 7px -7px 21px #288c8c, -7px 7px 21px #54ffff;
}

.btn:hover {
    border-radius: 16px;
    background: linear-gradient(225deg, #38c4c4, #42e9e9);
    box-shadow: -7px 7px 21px #288c8c, 7px -7px 21px #54ffff;
}
.bottom center {
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 5px;
  font-size: 0.9375rem;
  background: #151515;
}
.bottom center span {
  color: #656565;
}
.bottom center a {
  color: #e7d662;
  text-decoration: none;
}
.bottom center a:hover {
  text-decoration: underline;
}
html::-webkit-scrollbar {
  width: 12px;
}

html::-webkit-scrollbar-track {
  background-image: repeating-linear-gradient(
    45deg,
    #2b9098 0,
    #2b9098 1px,
    transparent 0,
    transparent 50%
  );
  background-size: 5px 5px;
}

html::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 5px;
  border: 2px solid black;
  box-shadow: inset 1px 1px 5px black;
}
html::-webkit-scrollbar-thumb:hover {
  background: transparent;
  border-radius: 5px;
  border: 3.5px solid black;
  box-shadow: inset 1px 1px 5px black;
}

/* custom scroll bar completed */

@media screen and (max-width: 768px){
    .horizontal-group .left{
        float:none;
        flex-direction: column;
        width:49%;
        left: 0;
        right: 0;
      }
      
      .horizontal-group .right{
        float: none;
        flex-direction: column;
        width:49%;
        left: 0;
        right: 0;
      }
      .signup-form {
        width:none;
        margin:none auto;
      }
}