body {
  background-image: linear-gradient(180deg,#2b8fec, #cce6ff);
    background-attachment: fixed;
  }
#monument-img {
    max-width: 1000px;
    margin: 20px auto;
}

#monument-img img {
    width: 100%;
    height: auto;
}

#timeline {
    /* background-color: rgb(230, 230, 230); */
    display: flex;
    justify-content: space-between;
}

.style-div {
    background-color: darkgray;
} 

.style-div p {
    padding: 5px;
    font-size: 1.2rem;
}
.style-div a {
    text-decoration: none;
}
.style-div a:visited {
    text-decoration: none;
}
.style-div:hover {
    background-color: crimson;
    color: white;
}

#monument-information {
    max-width: 1000px;
    margin: auto;
    padding-bottom: 2%;
}

#monument-information h2 {
    font-family: sans-serif;
}

#monument-information p{
    font-family: monospace;
    font-size: 1.1rem;
}
#head-container {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    background-color: gainsboro;
}

#head-container a img {
    /* width: 100%; */
    padding: 0.3%;
    margin-right: 40px;
}

#sign-float {
    float: right;
}
html::-webkit-scrollbar {
    width: 12px;
  }
  
  html::-webkit-scrollbar-track {
    background-image: repeating-linear-gradient(
      45deg,
      #2b9098 0,
      #2b9098 1px,
      transparent 0,
      transparent 50%
    );
    background-size: 5px 5px;
  }
  
  html::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 5px;
    border: 2px solid black;
    box-shadow: inset 1px 1px 5px black;
  }
  html::-webkit-scrollbar-thumb:hover {
    background: transparent;
    border-radius: 5px;
    border: 3.5px solid black;
    box-shadow: inset 1px 1px 5px black;
  }
  .bottom center {
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 5px;
    font-size: 0.9375rem;
    background: #151515;
  }
  .bottom center span {
    color: #656565;
  }
  .bottom center a {
    color: #e7d662;
    text-decoration: none;
  }
  .bottom center a:hover {
    text-decoration: underline;
  }